{% extends "base.html" %} 
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app2.css')}}" />
{% endblock %} 
{% block main %} 
{% include 'flashes.html' %}
<div class="py-5">
<div class="card mb-3 h-100 " style="max-width: 800px">
  <div class="row g-0">
    <div class="col-md-6">
      <img
        class="img-fluid h-100"
        src="{{ url_for('get_image', filename= property.photo_filename) }}"
        alt="Property Image"
      />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title mb-3">{{ property.title }}</h5>
        <div class="price-type ">
          <span class="badge bg-danger rounded-pill">{{ property.price }}</span>
          &nbsp;
          <span class="badge bg-warning rounded-pill">{{ property.property_type }}</span>
        </div>
        <br />
        <p class="card-text">{{ property.description }}</p>
        <div class="rooms mb-3">
          <p class="d-inline"><i class="fa fa-bed"></i> {{ property.bedrooms }} Bedrooms</p>
          &nbsp;&nbsp;&nbsp;
          <p class="d-inline">
            <i class="fa fa-bath"></i>
            {{ property.bathrooms }} Bathrooms
          </p>
        </div>
        <p>
          <i class="bi bi-geo-alt"></i>
          {{ property.location }}
        </p>
        <button type="button" class="btn btn-secondary" type="submit">
          Email Realtor
        </button>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}
